// sass --style compact ufrog-gen.scss ufrog-gen.css
// sass --style compressed ufrog-gen.scss ufrog-gen.css
// sass --watch ufrog-gen.scss:ufrog-gen.css

/* define */
$spacing: 20px;
$font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size: 14px;
$color-white: #ffffff;
$color-black: #222222;
$color-gray: #e0e0e0;
$color-red: #c12e2a;
$color-yellow: #eb9316;
$color-green: #419641;
$color-blue: #2d6ca2;

/* tag styles */
body {
  padding-top: $spacing + 50;
  font-family: $font-family;
}

/* angular styles */
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

/* bootstrap styles */
.container-lt {
  width: 400px;
}
.row {
  margin-right: -$spacing/2;
  margin-left: -$spacing/2;
  [class^=col-] {
    padding-right: $spacing/2;
    padding-left: $spacing/2;
  }
}
.form-horizontal {
  .form-group {
    margin-right: -$spacing/4;
    margin-left: -$spacing/4;
    [class^=col-] {
      padding-right: $spacing/4;
      padding-left: $spacing/4;
    }
    .toggle-switch {
      min-height: 34px;
      padding-top: 4px;
    }
  }
}
.form-control-toggle {
  min-height: 34px;
  padding-top: 4px;
  padding-bottom: 2px;
  margin-bottom: 0;
}
.table-form {
  border-top: 1px solid #dddddd;
  padding: $spacing 0;
  &.table-form-noborder {
    border-top: 0;
  }
}
.panel {
  .table-form {
    padding-right: $spacing;
    padding-left: $spacing;
  }
  &.panel-tab {
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}
.table-footer {
  margin-top: -$spacing/2;
}

/*  */
.margin-top {
  margin-top: $spacing;
}
.margin-bottom {
  margin-bottom: $spacing;
}
.margin-bottom-zero {
  margin-bottom: 0;
}
.cursor-hand {
  cursor: pointer;
}
.nowrap {
  white-space: nowrap;
}
figure {
  position: relative;
  .btn-copy {
    position: absolute;
    top: 0;
    right: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    &:focus,
    &:active:focus,
    &.active:focus,
    &.focus
    &:active.focus,
    &.active.focus {
      outline: none;
    }
  }
}
